@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
    box-sizing: border-box;
    font-size: 10px;
}

html {
    color: #333;
    font-family: "Noto Sans KR", sans-serif;

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", sans-serif;
    font-size: 10px;
    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-color: #fff;
    font-size: 10px;
}

a {
    color: unset;
    text-decoration: none;
}

input:focus {
    outline: none;
}

button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
}
